$main-color: #161C24;
$additional-text-color: #444A50;
$primary-color: #0380EA;
$secondary-color: #0D113C;
$base-background-color: #F9F9F9;
$secondary-background-color: #FFFFFF;
$additional-background-color: #02548C;
$form-background-color: #EDEFF6;
$additinal-border-color: #E8E8E9;
$shadow-color: #161B241A;
$raven-color: #73777C;
$gainsboro-color: #D9D9D9;
$pale-color: #73777C;
$heather-color: #B9BBBD;
$dodger-blue-color: #2684FC;
$chambray-color: #516172;
$midnight-express-color: #192144;
$pale-cornflower-blue-color: #AED0EB;
$catalina-blue-color: #1D2E5B;
$charcoal-color: #444444;
$black-color: #000000;
$solitude-color: #E1E3E9;
$link-water-color: #CBCED9;
$midnight-express-color: #272B3B;
$pale-cornflower-blue2-color: #A8D2F4;
$picton-blue-color: #4D99D6;
$chambray-color: #516172;
$rock-blue: #959BB2;
$solitude-color: #E2E5F1;


// Viewports
// ---------------------------------
$vp-320: 320px;
$vp-480: 480px;
$vp-768: 768px;
$vp-1000: 1000;
$vp-1024: 1024px;
$vp-1184: 1184px;
$vp-1280: 1280px;
$vp-1300: 1300px;
$vp-1440: 1440px;

// Animation
// ---------------------------------

$tf-default: ease;
$trans-default: 0.3s $tf-default;
