@import '../../styles/variables.scss';

.wrapper {
    display: flex;
    align-items: center;
    gap: 11px;
}

.address {
    margin: 0;
}

.map-button {
    font-family: "Onest", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: $primary-color;
    background-color: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
}

.image-wrapper img {
    display: block;
}
