@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 320px;
    max-width: 1440px;
    min-height: 100vh;
    margin: 0 auto;
}

.main {
    flex-grow: 1;
    background-color: #EDEFF6;
    position: relative;
    padding: 0;
    z-index: 1;
    overflow: hidden;

    @include vp-767 {
        padding: 0;
    }
}

.mobmenu--open {
    position: fixed;
}

.mobmenu--closed {
    position: initial;
}