.buttonform {
  color: #1D2E5B;
  background-color: #A8D2F4;
  width: 286px;
  min-height: 80px;
  position: relative;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  padding-right: 20px;
  border-radius: 15px;

  &::before {
    position: absolute;
    content: "";
    background-image: url("../../images/arrow-step.svg");
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    transform: rotate(180deg);
    right: 37px;
  }
}