@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

:global {
  h1.form__heading {
    position: relative;
    margin-left: 63px;
    padding-top: 70px;
    margin-top: 0;
    margin-bottom: 0;

    @include vp-1023 {
      margin-left: 0;
      padding-top: 134px;
      margin-bottom: 83px;
    }

    @include vp-767 {
      padding-top: 0;
      margin-bottom: 35px;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -74px;
      left: 0;
      width: 358px;
      height: 8px;
      background-color: #4D99D6;
      border-radius: 4px;

      @include vp-767 {
        width: 214px;
        height: 5px;
        bottom: -13px;
        left: -1px;
      }
    }
  }
}

h1.title-primary {
  font-size: 53px;
  line-height: 50px;
  font-weight: 700;
  color: #ffffff;

  @include vp-767 {
    font-size: 31px;
    line-height: 36px;
  }
}

h2.title-primary {
  font-size: 36px;
  line-height: 36px;

  @include vp-767 {
    font-size: 20px;
    line-height: 20px;
  }
}
