@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.bus {
  width: 18px;
  height: 20px;
  padding-right: 3px;

  @include vp-1279 {
    padding-right: 0px;
    margin-bottom: 0;
  }

  @include vp-767 {
    width: 13px;
    height: 16px;
  }
}