@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.avatar {
  display: inline-block;
  border-radius: 24px;
  overflow: hidden;
  background-color: #f0f0f0;
}

.avatar__image {
  display: block;
  width: 100%;
  height: auto;
}

.avatar--large {
  width: 220px;
  height: 237px;

  @include vp-1023 {
    width: 94px;
    height: 94px;
    border-radius: 7px;
  }

  @include vp-767 {
    width: 100px;
    height: 100px;
    border-radius: 100%;
  }
}

.avatar--xl {
  width: 285px;
  height: 285px;

  @include vp-1023 {
    width: 190px;
    height: 190px;
  }

  @include vp-767 {
    width: 70px;
    height: 70px;
    border-radius: 100%;
  }
}

.avatar--no-image {
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: #fff;
}

:global(.form__avatar) {

  @include vp-767 {;
    margin-right: 16px;
  }
}
