@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.contacts__list {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    gap: 8px;
    list-style-type: none;
    margin-left: auto;

    @include vp-1023 {
        width: 270px;
        margin: 0 auto;
        align-items: initial;
        padding-bottom: 22px;
    }
}

.contacts__link {
    @include primary-bold(16px, 18px);

    text-transform: uppercase;
    text-decoration: none;

    img {
        display: block;
    }
}

.contacts__link:focus {
    outline: none;
}

.contacts__link:focus-visible {
    outline: none;
}
